# NeonDB connection string
# Get your connection string from https://console.neon.tech
DATABASE_URL=postgresql://neondb_owner:npg_ML0vemNFJHo3@ep-damp-block-ahx8gc1k-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
